# Entornos virtuales 
__pycache__/
*.pyc
.ipynb_checkpoints/
*.venv/

# Archivos privados
2026-2/

# vs code
.vscode/

# Archivos temporales de sistema y editores
.DS_Store
*.swp
*~
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.out
*.toc
*.nav
*.snm
*.bbl
*.blg

